/*
  Styling frontend all mobile phones
*/

 @media only screen and (orientation: portrait) and (max-width: 430px) {
     .logo-container {
         max-width: 200px;
     }
     .logo {
         margin-top: 12%;
         max-width: 250px;
     }
     .slogan {
         margin-top: -1.5rem;
         font-size: 0.8rem;
     }
     .message {
         padding-top: 3rem;
         font-size: 2.2rem;
     }
     .footer {
         margin-left: 5%;
         font-size: 0.3rem;
     }
     video {
        width: 100vw;
        height: 100vh;
     }
}

 @media only screen and (orientation: landscape) and (max-width: 932px) {
     .logo-container {
         max-width: 200px;
     }
     .logo {
         margin-top: 2%;
         max-width: 250px;
     }
     .slogan {
         margin-top: -1.5rem;
         font-size: 1rem;
     }
     .message {
         margin-top: 1.2rem;
         font-size: 2.2rem;
     }
     .footer {
         margin-left: 5%;
         font-size: 0.6rem;
     }
     video {
        width: 100vw;
        height: 100vh;
   }
}