/* Tablet styling */
@media only screen and (orientation: landscape) and (min-width: 768px) {
  .logo-container {
    max-width: 300px;
  }
  .logo {
    margin-top: 2%;
    max-width: 650px
  }
  .slogan {
    margin-top: -3.5rem;
    font-size: 2.5rem;
  }
  .message {
    margin-top: 8.5rem;
    font-size: 7.6rem;
  }
  .footer {
    margin-left: 5%;
    font-size: 0.9rem;
  }
  video {
  height: 100vh;
  width: 100vw;
  }
}

@media only screen and (orientation: portrait) and (min-width: 768px) {
  .logo-container {
    max-width: 300px;
  }
  .logo {
    margin-top: 3%;
    max-width: 650px
  }
  .slogan {
    margin-top: -3.5rem;
    font-size: 2.0rem;
  }
  .message {
    margin-top: 12.5rem;
    font-size: 5.6rem;
  }
  .footer {
    margin-left: 5%;
    font-size: 0.9rem;

  }
  video {
  height: 100vh;
  width: 100vw;
  }
}