# Project exclude paths
/target/

.idea/AugmentWebviewStateStore.xml
.idea/aws.xml
.idea/material_theme_project_new.xml
.idea/misc.xml
.idea/compiler.xml
.idea/copilot.data.migration.agent.xml
.idea/copilot.data.migration.ask.xml
.idea/copilot.data.migration.ask2agent.xml
.idea/copilot.data.migration.edit.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/modules.xml
.idea/encodings.xml
.idea/compiler.xml


