.right {
  position: absolute;
  right: 0px;
}

@media (min-width: 768px)
.navbar-default .nav > li>a, .navbar-default .nav>li>a:focus {
    color: rgba(255,255,255,0.8);
    padding: 20px;
    letter-spacing: 1.1px;
    text-shadow: 1px 1px 1px rgba(60,60,60,0.7);
}