# requirements.txt for PayMeTV Machine Learning Pipeline

jupyter
notebook
numpy
opencv-python
matplotlib
pandas
psutil
Pillow
plotly
rembg[cpu]
scikit-image
scipy
scikit-learn
tensorflow
tensorflow-io
torch
torchvision
tqdm
Shapely