# requirements.txt for PayMeTV Machine Learning Pipeline

jupyter
notebook
numpy
opencv-python
matplotlib
pandas
Pillow
plotly
rembg[gpu]
scikit-image
scipy
scikit-learn
#tensorflow
#tensorflow-io
tqdm
Shapely