html {
	background-image: url("../images/system/Contract.jsp") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	filter: alpha(opacity=85);
	opacity: .85;
}

#wrapper_contract{  
		position:relative;
		height:520px;
		width: auto; 
		max-height:650px;
		left:50%;
    	top:285px;
		margin:-225px 0 0 -475px;  	
		
		background-image: url("../images/system/Contract.jsp");
    	background-repeat: no-repeat;
}

#daysRemaining {
	position:relative;
	height:70px;
	width: auto; 
	
		color:red;
		font-size: xx-large;
		padding: 2px;
		vertical-align: middle;
		
	background-image: url("../images/system/spiralPad.png");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}