@CHARSET "ISO-8859-1";

#donutChart{
	width: 40%;
	height: 40%;
}

.earningsReportContainer{
	background: #FFFFFF;
	filter: alpha(opacity=50);
	opacity:0.9;
}

/* update existing table css font color to desired shade */
.display{
	color: #0B62A4;   
}

.subHeadings{
	background:#679DC6;
	width: 100%;
	height: 25px;
		font-size: 115%;
		color: #FFFFFF;
}