.upHead{
	margin-top:17%;
	background:#65c75b;
	height: 2.4em;
	width: 100%;
}

#bigUpload{
	font-family:"Arial", "Times New Roman", Times, serif;
	color:#34822c;
	font-size:2.0em;
	font-style:oblique;
}

.lowerPadding{
	margin-bottom:3em
}

.blurb{
	padding:25px 50px;
	background-color:#65c75c;
}

.pp
{
	border: 0px solid black;

	
}
.pp td {height:5px;
		width: 5px;
		font-size:0.5em;
		border: 3px solid #65c75b;
}

#progress_f{
	float:right;
	margin-top:2px;
	margin-right:10px;
	color:#red;
}
	
#upload_context{
	height:20px;
	width: 85%;
	margin: 1% auto auto auto; 
}

.nav_butt{
	position: relative;
	float:right;
	margin-top:40px;
}

.doNOTShow {
	visibility: collapse;
}

.innerBorder{
	margin-left:5%; 
	margin-right:5%; 
	margin-top:3%; 
	background-color:#eeeeee; 
	padding:5%; 
		-webkit-border-radius:6px;
		-moz-border-radius:6px;
		border-radius:6px;"
}