#revenueHead{
	background:#cabe06;
	height: 2.4em;
	width: 100%
}

#bigRevenue{
	font-family:"Arial", "Times New Roman", Times, serif;
	color:#fff;
	font-size:2.0em;
	font-style:oblique;
}

#outterChart{
	margin: auto;
    width: 70%;
    height: 350px;
	background: #cabe06;
	left:50%;
    top:50%;
    border: 10px solid #cabe06;
}

#revenueOptions{
	position: absolute;
    right: 15%;
	height: 30px;
	width: 20%;
}

#revenueTotals{
	color:#F7CF2D;
	position: absolute;
	font-size: 300%;
	font-weight: bold;
	right: 15%;
	margin-right: 6.5%;
	margin-top:-5.5%;
}

#revenueTotalsSummary{
	color: white;
	margin-right: 10%;
	margin-top: -2.75%;
	font-weight: lighter;
}