#statsHead{
	background:#044386;
	height: 2.4em;
	width: 100%;
}

#bigStats{
	font-family:"Arial", "Times New Roman", Times, serif;
	color:white;
	font-size:2.0em;
	font-style:oblique;
}

#stats_area{
	visibility: hidden;
	display: none;
}