
/* same style a copyright */
#footer{
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#6A3476;
	
	position:absolute;
	width: 900px;
	height:50px;
	bottom:0px;
	right:25%;
	left:50%;
	margin-left:-455px;    
}